.container {
    padding: 0px;
    margin: 0px;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.round_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round_image img {
    height: 100%;
}